$gray: #666;
$gray-1: #DDD;
$gray-2: #d9d9d9;
$gray-dark: #333;
$gray-dark-1: #444;

$yellow: #f2c71c;
$yellow-light: #ffd361;
$yellow-dark: #f69610;
$green: #3a9200;
$blue: #284dd8;
$purple: #c813a8;
$orange: #ef765a;
